<footer class="footer">
   <div class="footer-list">
       <a href="/" class="footer-link">home</a>
       <a href="/tours" class="footer-link">tours</a>
       <a href="/stories" class="footer-link">stories</a>
       <a href="contact" class="footer-link">comments</a>
       <a href="/about" class="footer-link">about us</a>
   </div>
   <p class="f-p">copy right by kasra mahdavi 2021</p>
</footer>