  <!--header-->

        <header class="header center">
            <a>
               <div class="header-text">
                <h1 class="heading">aroun the world</h1>
                <p class="header-paragraph">traveling it leavs you speachless then turn you into a storytellet</p>
               </div>    
            </a>        
                <img src="images/air-balloon.png" alt="header-image" class="header-image">
              <div class="logo">
               <h1>
                   <span class="center">e</span>
                   <span class="center"> l</span>
                  
                   <span class="center">c</span>
                   <span class="center">a</span>
                   <span class="center">m</span>
                   <span class="center">i</span>
                   <span class="center">n</span>
                   <span class="center">o</span>
               </h1>
               </div>
            
        </header>
        <!-- end of header-->