 <!--nav bar-->
        <div class="open-navbar-icon navbar-icon center">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="navbar-wrapper">
            <nav class="navbar">
                <div class="close-navbar-icon navbar-icon center">
                    <div class=" line line-1 "></div>
                    <div class=" line line-2"></div>
                </div>
                <div class="nav-list">
                    <a href="/" class="nav-link center">home</a>
                    <a href="/tours" class="nav-link center">tours</a>
                    <a href="/stories" class="nav-link center">stories</a>
                    <a href="/contact" class="nav-link center">comments</a>
                    <a href="/about" class="nav-link center">about us</a>
                    
                </div>
            </nav>
        </div>
        <!--end of navbar-->