   <!--pop tours-->
        <section class=" pop-tours">
            <h1 class="pop-tours-heading">the most popular tours</h1>
            <div class="cards-wrapper">
                <div class="card">
                    <div class="front">
                        <img class="card-image" src="images/forest.jpg" alt="">
                        <h1 class="tour-name">the wiled forest</h1>
                        <ul class="cardlist">
                            <li class="card-list-item">7days tour</li>
                            <li class="card-list-item">up to twenty people</li>
                            <li class="card-list-item">4 tour guides</li>
                            <li class="card-list-item">sleep in private tents</li>
                            <li class="card-list-item">dificulty:medium</li>
                        </ul>
                        <button class="nav-but">price &gt;&gt;</button>
                    </div>
                    <div class="back center">
                        <button class="nav-but"> &lt;&lt; back</button>
                        <h3 class="price">$300</h3>
                        <button class="card-butt">booking</button>
                    </div>
                </div>
                <div class="card">
                    <div class="front">
                        <img class="card-image" src="images/river.jpg" alt="">
                        <h1 class="tour-name">the wiled forest</h1>
                        <ul class="cardlist">
                            <li class="card-list-item">7days tour</li>
                            <li class="card-list-item">up to twenty people</li>
                            <li class="card-list-item">4 tour guides</li>
                            <li class="card-list-item">sleep in private tents</li>
                            <li class="card-list-item">dificulty:medium</li>
                        </ul>
                        <button class="nav-but">price &gt;&gt;</button>
                    </div>
                    <div class="back center">
                        <button class="nav-but"> &lt;&lt; back</button>
                        <h3 class="price">$300</h3>
                        <button class="card-butt">booking</button>
                    </div>
                </div>
                <div class="card">
                    <div class="front">
                        <img class="card-image"  src="images/sea.jpg" alt="">
                        <h1 class="tour-name">the wiled forest</h1>
                        <ul class="cardlist">
                            <li class="card-list-item">7days tour</li>
                            <li class="card-list-item">up to twenty people</li>
                            <li class="card-list-item">4 tour guides</li>
                            <li class="card-list-item">sleep in private tents</li>
                            <li class="card-list-item">dificulty:medium</li>
                        </ul>
                        <button class="nav-but">price &gt;&gt;</button>
                    </div>
                    <div class="back center">
                        <button class="nav-but"> &lt;&lt; back</button>
                        <h3 class="price">$300</h3>
                        <button class="card-butt">booking</button>
                    </div>
                </div>
                
            </div>
      
        </section>

        <!--end of pop turs--><script src="js/js.js"></script>