<h2 class="home-header">welcome to your dream</h2>
<div class="home-container">
<p>se our tour <a href="/tours">here</a></p>
<p>to upload your experienc in gallery click <a href="/stories">here</a></p>
<p>to se who we are click <a href="/about">here</a></p>

</div>